
<div class="container">
<h1>Please Login</h1>
<br/>
<form action="" method="post">
<input type="text" placeholder="Username" name="username" value="{{request.form.username}}">

<input type="password" placeholder="Password" name="password" value="{{request.form.username}}">

<input class="btn btn-default" type="submit" value="Login">
</form>
{% if error %}
	<p class="error"><strong>Error</strong>{{ error }}</p>

{% endif %}
{% for message in get_flashed_messages() %}
		{{ message }}
	{% endfor %}
	
</div>